
//Colors
$main-color: #28201b;
$accent-color: #4e3732;
$border-color: #7d6552;
$error-color: #863824FF;
$online-color: #286142;
$access-color: #6f7550;
$bg-color: #af9d7d;
$light-bg: #c2bc9a;
$ww: #f6f7ea;
$you-message: #c05858;



